<form action="<%= comments_url %>" method="post">
  <%= authenticity %>
  <input type="hidden"
    name="comment[post_id]"
    value="<%= parent_comment.post_id %>">
  <input type="hidden"
    name="comment[parent_comment_id]"
    value="<%= parent_comment.id %>">

  <textarea name="comment[content]"
    rows="3" cols="40"></textarea><br/>
  <input type="submit" value="Submit reply">
</form>
