<div class="row">

<div class="jumbotron">
  <h1>Hey, there.</h1>

  <div class="row">
    <div class="col-xs-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
    </div>

    <div class="col-xs-6">
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident aslaaai.
      </p>
    </div>

  </div>
</div>

</div>

<div class="row">
  <h1>Meet the Team</h1>

  <div class="row text-center">

    <div class="col-xs-3">
      <img src="<%= asset_path('cat1.jpg') %>"
        alt="cat #1!"
        class="img-circle"
        style="max-width: 100%; height: auto; display: block;">
      <h2>Cutie</h2>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <div class="col-xs-3">
      <img src="<%= asset_path('cat2.jpeg') %>"
        alt="cat #2!"
        class="img-circle"
        style="max-width: 100%; height: auto; display: block;">
      <h2>Patootie</h2>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse.
        Excepteur sint occaecat cupidatat non proident aslaaai.
      </p>
    </div>

    <div class="col-xs-3">
      <img src="<%= asset_path('cat3.jpg') %>"
        alt="cat #3!"
        class="img-circle"
        style="max-width: 100%; height: auto; display: block;">
      <h2>Meowzers</h2>
      <p>
        Cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident aslaaai.
      </p>
    </div>

    <div class="col-xs-3">
      <img src="<%= asset_path('cat4.jpg') %>"
        alt="cat #4!"
        class="img-circle"
        style="max-width: 100%; height: auto; display: block;">
      <h2>Bob</h2>
      <p>
        Duis aute irure dolor inte velit esse
        cillum dolore eu fugiat nulla pariatur.
        Excepteur sint proident aslaaai.
      </p>
    </div>
  </div>
</div>
