<div class="row">
  <div class="col-xs-12">

    <h1>Reddit Clone</h1>

    <p><%= link_to "Create a New Sub", new_sub_url %></p>

    <table class="table">
      <% @subs.each do |sub| %>
        <tr>
          <td>
            <%= link_to display(sub), sub_url(sub), method: :get %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
