<table>
  <tr>
    <td>
      <i>Comment by <%= comment.author.user_name %></i><br/>
      <%= comment.content %><br/>
      <%= link_to "Reply", comment_url(comment) %><br/>
    </td>
  </tr>
  <tr>
    <td>
      <% comment.child_comments.each do |child_comment| %>
        <%= render 'comment', comment: child_comment %>
      <% end %>
    </td>
  </tr>
</table>
